.headline, .normal, .error, .button{
    color:#111111;
    line-height: 170%;
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif!important;
    padding-left: 4em;
}
.button{
    padding-left: 0em;
}
.headline {
    font-size: large;
    font-weight: bold;
    border-left: 4px solid #888888;
    border-bottom: 1px dotted #888888;
    margin-left: 1em;
    padding-left: 0em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}
.normal {
    color:#222222;
}
.error {
    color:#F11111;
}
.example {
    font-size: small;
    color:#444444;
    line-height: 170%;
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif!important;
}
table {
	border-collapse: collapse;
}
td {
	border: solid 1px;
	padding: 0.5em;
}
.katex {
    font-family: KaTeX_Main, "Times New Roman", serif;
    font-size: 2em;
}