.textform {
    position: fixed;
    top: 20px;
    left: 55%;
    width: 20%;
    height: 80%;
    z-index: 1000;
}
.text {
    position: absolute;
    top: 20px;
    left: 5%;
    margin-bottom: 50px;
}
input.font_size{
    padding-left: 50px;
    width:40px;
}
.floating_menu{
    text-align: center;
    margin-bottom: 15px;
}
.floating_menu {
    display: block;
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 9999;
    text-align: center;
    padding: 0 auto;
}
.move{
    margin:5px;
}
.font_size{
    margin:5px;
}
.auto_update{
    margin-left:8px;
}
.command{
    position: fixed;
    top: 20px;
    right: 10px;
    display: block;
    width: 10%;
    padding: 10px;
    z-index: 9999;
}
.command_button{
    top: 20px;
    right: 10px;
    display: block;
    width: 100%;
    padding: 10px;
    z-index: 9999;
}
.command{
    position: fixed;
    top: 20px;
    right: 10px;
    display: block;
    width: 10%;
    padding: 10px;
    z-index: 9999;
}
.command_button{
    top: 20px;
    right: 10px;
    display: block;
    width: 100%;
    padding: 10px;
    z-index: 9999;
}
.syntax_checker{
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: block;
    width: 12%;
    padding: 6px;
    z-index: 10000;
}
.pen_mode{
    position: fixed;
    left: 30px;
    bottom: 15px;
    width: 5%;
    padding: 6px;
    z-index: 10000;
    border-radius:100%;
    background-color: white;
    transition: .4s;
}
.pen_undo{
    position: fixed;
    left: 80px;
    bottom: 15px;
    width: 5%;
    padding: 6px;
    z-index: 10000;
    border-radius:100%;
    background-color: white;
    transition: .4s;
}
.pen_do{
    position: fixed;
    left: 130px;
    bottom: 15px;
    width: 5%;
    padding: 6px;
    z-index: 10000;
    border-radius:100%;
    background-color: white;
    transition: .4s;
}
.pen_mode:hover {
  background: gray;
  color: white;
}
.canvas{
    position:absolute;
    left: 0px;
    top:0px;
}